

body{
    background-color: black;
    color: white;   
    font-family: Roboto;

   
}
.container{
    margin: 0 auto;
    max-width: 81rem;
}

/* ------------ nav bar part ------- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
nav ul {
    list-style: none;
    display: flex;
    gap: 90px;  
    margin-top: 40px ;
}
nav div:first-child{
    margin: 40px 0 0 90px;
}
.drop-menu,.drop-list{
    display: none;
}
/* --------hero part ----------- */
.hero{
 display: flex;
 justify-content: space-between;
 align-items: center;
 
 
}
.hero img{
    width: 600px;
    position: relative;
    left: 0px;
    bottom: 10px;
}
.hero h4{
    font-size: 25px;
    font-weight: 500;
    color: rgb(244, 73, 73);
}
.hero h1{
    font-size: 70px;
    line-height: 100px;
}
.hero p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.578);
   
}
.hero .btn-about{
    background-color:rgb(189, 37, 37) ;
    font-size: 20px;
    padding: 10px 40px;
    color: white;
    margin-top: 30px;

}

/* ----------- box part --------- */
.box{
    background-color: rgba(35, 35, 35, 0.671);
    width: 600px;
    height: 850px;
    position: absolute;
    left: 0;
    top: 690px; 
    z-index: -1;
     
}
/* ----------- cards -----------*/
.course-part .cards{
    display: flex;
    justify-content: center;
    gap: 40px;
   
}
 .card{
    background-color: rgb(44, 44, 44);
    width: 300px;
    height: 300px;
    margin-top: 50px;
    padding: 40px 0px 0px 40px ; 
 }
.card img{
    width: 50px;
}
.card h1{
    font-size: 30px;
    margin-top: 20px;
    font-weight: 500;
}
 .card p{
    font-size: 20px;
    font-weight: 270;
    margin-top: 20px;
 }   
 .card h4{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    color:  rgb(244, 73, 73);
 }
.course-part .cards div:nth-child(2) {
    background-color:brown;
}
.course-part .cards div:nth-child(2) h4{
    color: #fff;
}
/* -------------servey part-------- */
.servey-part{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
    align-items: center;  
}
.servey-part-left  h1 {
    font-size: 100px;
    font-weight: 900;
    color: rgb(244, 73, 73) ;
    
}
.servey-part-left h4{
    font-size: 25px;
    margin-top: -10px;
}
.servey-cards{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
   max-width: 700px;
   margin-right: 100px;
  
   align-content: center;
}
.servey-card{
    background-color: rgb(27, 26, 26);
    width: 290px;
    height: 120px;  
}
.servey-card h1{
    margin-top: 50px;
    margin-left: 90px;
    font-size: 55px;
    font-weight: 900;
    color:  rgb(244, 73, 73);
    line-height: 0;
    
}
.servey-card h5{
    margin-left: 90px;
    font-size: 19px;
    font-weight: 300;
}
/* ---------- projects part--------- */
.projects-part{
    margin-top: 100PX;
}

.projects-heading{
    display: flex ;
    justify-content: space-between;
    align-items: center;
   
   
}
.projects-heading h1{
    font-size: 25px;
    font-weight: 900;
}
.projects-heading button{
    background-color:rgb(244, 73, 73) ;
    border: none;
    padding: 10px 40px;
    color: white;
    font-size: 20px;
}
.project-cards{
    display: flex; 
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;
} 

.project-card img{
    width: 580px;
    margin-left: 23px;
    margin-top: 20px;
    
}
.project-card{
    background-color: rgb(28, 26, 26);
    height: 370px;
    width: 39rem;
    margin-top: 50px;
    
}
.project-cards div:nth-child(3) img{
 width: 36.5rem;   
 height: 330px;
}
div .project-cards h1{
    margin-top: 45px;
    font-size: 25px;
    line-height: 0;
}
div .project-cards h5{
    color: rgb(244, 73, 73);
    font-size: 17px;
    line-height: 0;
}
/* -----------contact part---------- */
.contact-part{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    background-color: rgb(32, 30, 30);
    height: 270px;
    width: auto;
    
}
.contact-part h1{
    font-size: 50px;
    margin: 40px 0 0 40px;
}
.contact-part p{
    font-size: 20px;
    margin: 15px 0 0 40px;
    color: rgba(255, 255, 255, 0.664);
}
.contact-part button{
    background-color:rgb(189, 37, 37) ;
    font-size: 25px;
    padding: 15px 40px;
    color: white;
    margin: 100px 50px 0px 0px;
    border: none;
}
.bottom-list{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 40px 0px;
    gap: 80px;
}
/* ----------footer prt ----------- */
.footer{
    background-color: rgb(35, 33, 33);
    position: absolute;
    left: 0px;
    right: 0px; 
     
}
.social-icons img{
    width: 35px;
    background-color: #fff;
    border-radius: 13px;
    margin-right: 40px;  
}
.social-icons{
  display: flex;
  justify-content: center;
  position: relative;
  top: -25px;
  left: 0px;
}
.footer .footer-logo{
    width: 120px;
    position: relative;
    left: 150px;
    top: 20px;
}

@media only screen and (max-width: 1303px){
    .project-card img{
        width: 400px;
        margin-left: 23px;
        margin-top: 20px;
        
    }
    .project-card{
        background-color: rgb(28, 26, 26);
        height: 260px;
        width: 28rem;
    }
    .project-cards div:nth-child(3) img{
        width: 36.5rem;   
        height: 330px;
       }
       .project-cards div:nth-child(3) img{
        width: 25.5rem;   
        height: 230px;
       }
}
@media only screen and (max-width: 1017px){
    .hero h4{
        font-size: 20px;
        font-weight: 500;
        color: rgb(244, 73, 73);
         }
    .hero h1{
        font-size: 60px;
       line-height: 100px;
       }
    .hero p{
        font-size: 17px;
        color: rgba(255, 255, 255, 0.578);
          }
}
@media only screen and (max-width: 840px){

    nav ul{
        gap: 20px;  
    }
    .hero{
       flex-direction: column;
        }
    .hero img{
            width: 550px; 
            margin: 0;    
        }  
    .course-part .cards{
           flex-direction: column;
            align-items: center;       
        }  
    .servey-part{
            flex-direction: column;   
            align-items: center; 
            align-content: center; 
        }
    .servey-cards{
           flex-direction: column;
            flex-wrap: wrap;
           max-width: 0;
          align-items: center;
        }
    .contact-part{
           flex-direction: column;           
         }
    .contact-part h1{
            font-size: 30px;
            margin: 40px 0 0 40px;
        }    
    .contact-part p{
            font-size: 15px;   
        }
     .contact-part button{   
            margin: 0px auto;   
        }
    .social-icons {
              left: 70px; 
          }
    .box{
            top: 640px;
            width: 500px;
            height: 800px;    
        }
    .bottom-list{
          gap: 30px;
        }
    nav div:first-child{
            margin: 40px 0 0 20px;        
    }
                
.footer .footer-logo img{
    width: 100px;
    margin-left: -120px;
}
}
@media only screen and (max-width: 490px){
        .box{
            display: none;
        }
        .nav-bar img{
            width: 100px;
            margin-top: -20px;
        }
        .list-items{
            display: none;
        }
        .drop-menu {
            display: block; 
            cursor: pointer; 
            position: absolute;
            left: 380px;
            
        }
        .drop-list{
            display: block;
            position: absolute;
            top: 10px;
            left: 340px;
        }
      
        
}